name: Build & Push Docker Image

on:
  workflow_call:
    inputs:
      main-branch:
        description: "The main branch to check if the tag commit is an ancestor of"
        type: string
        required: false
        default: "main"
      volces_name:
        description: "The image name without the registry prefix to push to volces registry"
        type: string
        required: true
      build_args:
        description: "Multiline string of build-args"
        type: string
        required: false
        default: ""

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: self-hosted

    permissions:
      contents: read
      packages: write

    env:
      SEMVER_REGEX: "v[0-9]+.[0-9]+.[0-9]+*"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Extract Tag Version
        uses: ./actions/extract-tag-version
        id: extract_version
        with:
          semver-regex: ${{ env.SEMVER_REGEX }}
          main-branch: ${{ inputs.main-branch }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to private registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.VOLCES_REGISTRY }}
          username: ${{ secrets.VOLCES_USERNAME }}
          password: ${{ secrets.VOLCES_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            ${{ inputs.build_args }}
          tags: |
            ${{ vars.VOLCES_REGISTRY }}/${{ inputs.volces_name }}:${{ steps.extract_version.outputs.version }}
            ${{ vars.VOLCES_REGISTRY }}/${{ inputs.volces_name }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          network: host
