name: Shared Helm Publish

on:
    workflow_call:
        inputs:
          main-branch:
            description: "The main branch to check if the tag commit is an ancestor of"
            type: string
            required: false
            default: "main"
          chart_dir:
            type: string
            default: "helm"
          repo_name:
            type: string
            required: true
          repo_url:
            type: string
            required: true
          tag_push:
            description: "Set to true if triggered by a tag push, false for path-only changes"
            type: boolean
            required: true

jobs:
  deploy:
    name: Deploy to gh-pages
    runs-on: ubuntu-latest

    permissions:
      contents: write

    env:
      SEMVER_REGEX: "v[0-9]+.[0-9]+.[0-9]+*"

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Extract Tag Version
      if: inputs.tag_push
      uses: OperationsPAI/shared-workflows/actions/extract-tag-version@main
      id: extract_version
      with:
        semver-regex: ${{ env.SEMVER_REGEX }}
        main-branch: ${{ inputs.main-branch }}

    - name: Update Helm AppVersion
      if: inputs.tag_push
      shell: bash
      run: |
        VERSION="${{ steps.extract_version.outputs.version }}"
        CHART_PATH="${{ inputs.chart_dir }}/Chart.yaml"
        
        sed -i "s/^appVersion: .*/appVersion: \"${VERSION}\"/" $CHART_PATH
        
        echo "::notice::Updated appVersion to ${VERSION} in $CHART_PATH"

    - name: Set up Helm
      uses: azure/setup-helm@v4.3.0
      with:
        version: 'v3.16.3'

    - name: Run publish script
      env:
        CHART_DIR: ${{ inputs.chart_dir }}
        REPO_NAME: ${{ inputs.repo_name }}
        REPO_URL: ${{ inputs.repo_url }}
      run: |
        set -e
        helm dependency update $CHART_DIR
          
        mkdir -p .deploy
        helm package $CHART_DIR -d .deploy

        curl -f -o .deploy/index.yaml "${REPO_URL}index.yaml" || echo "No existing index.yaml found"

        cd .deploy
        if [ -f index.yaml ]; then
            helm repo index . --url $REPO_URL --merge index.yaml
        else
            helm repo index . --url $REPO_URL
        fi

    - name: Publish to gh-pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: .deploy
        publish_branch: gh-pages
        force_orphan: true